# 基本配置
SECRET_KEY=your-secret-key
DEBUG=True

# aiping API配置
AIPING_API_KEY=your-secret-key
AIPING_API_URL=https://aiping.cn/api/v1
AIPING_MODEL=Qwen3-32B

# 硅基流动API配置
SILICON_FLOW_API_KEY=your-secret-key
SILICON_FLOW_API_URL=https://api.siliconflow.cn/v1/
SILICON_FLOW_MODEL=tencent/Hunyuan-MT-7B
