# 基本配置
SECRET_KEY=your-secret-key
DEBUG=True

# aiping API配置
AIPING_API_KEY=your-secret-key
AIPING_API_URL=https://aiping.cn/api/v1
AIPING_MODEL_TRANSLATION=Qwen3-32B
AIPING_MODEL_LAYOUT=Qwen3-32B
AIPING_MODEL_GLOSSARY=Qwen3-32B

# 硅基流动API配置
SILICON_FLOW_API_KEY=your-secret-key
SILICON_FLOW_API_URL=https://api.siliconflow.cn/v1/
SILICON_FLOW_MODEL_TRANSLATION=tencent/Hunyuan-MT-7B
SILICON_FLOW_MODEL_LAYOUT=Qwen/Qwen3-32B
SILICON_FLOW_MODEL_GLOSSARY=Qwen/Qwen3-32B